.loader-wrapper {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 50%;
	right: 50%;
	background-color: #fff;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	opacity: 0.5;
	transition: all ease-in-out 0.4s;
}
