.header {
	height: var(--header-height);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 999;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.nav {
	padding-left: 32px;
	padding-right: 32px;
}

.btn-rounded {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding: 0;
	background-color: #e4e6eb;
	border: none;
	outline: none;
}

.btn-rounded.focus {
	background-color: #e7f3ff;
}

.btn-rounded:hover {
	background-color: #d8dadf;
	border-color: unset;
	border: none;
	outline: none;
}

.btn-rounded.focus > .header-icon {
	color: #0572ef;
	border: none;
	outline: none;
}

.btn-rounded.focus:hover {
	background-color: #dae6f1;
}

.header-icon {
	font-size: 24px;
	color: #000;
}

.user-dropdown {
	background-color: #fff;
	right: 0;
	top: 46px;
	width: 320px;
	padding: 16px 12px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.avatar {
	width: 48px;
	height: 48px;
	background-image: url("/img/avatar.jpeg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid rgb(56, 56, 56);
}
