:root {
	--body-bg-color: #f0f2f5;
	--header-height: 60px;
	--sidebar-text-color: rgb(58, 58, 58);
	--sidebar-icon-color: rgb(87, 87, 87);
}

body {
	background-color: var(--body-bg-color) !important;
}

.pointer {
	cursor: pointer;
}

.no-outline {
	outline: none;
}

.no-outline:focus {
	background: none;
	border: none;
	box-shadow: none;
}

.dropdown {
	display: none;
	position: absolute;
	border-radius: 8px;
}

.radius-50 {
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid rgb(121, 121, 121);
}

.width-48 {
	width: 48px;
	height: 48px;
}

.dropdown-item {
	display: flex;
	cursor: pointer;
	align-items: center;
	width: 100%;
	padding: 12px;
	clear: both;
	font-weight: 400;
	color: rgb(5, 5, 5);
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	border-radius: 8px;
}

.dropdown-item:hover {
	background-color: #f2f2f2;
}

.dropdown-line {
	display: inline-block;
	height: 1px;
	width: 96%;
	margin: 0 auto;
	position: relative;
	top: -12px;
	background-color: #ced0d4;
}

.dropdown-item-text {
	display: block;
	padding: 0;
	color: rgb(5, 5, 5);
	font-weight: 500;
}
